<h2>Hello</h2>
<p>My name is Stuart Kehler and this is my personal website. I spend my days running the warehouse operations for a small supply company. In the evenings I'm just another nerd hitting buttons on the internet.</p>
<!--
<h2>Features</h2>
<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
</ul>
-->
<p>For information about ongoing projects or all other inquiries feel free to drop me a note.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:contact@kehler.io">Mail</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/stuartkehler">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/aphorism146">GitHub</a>
  </li>
</ul>
